@import url(https://fonts.googleapis.com/css?family=Oswald);

body, html {
    padding: 3px 3px 3px 3px;

    background-color: #D8DBE2;

    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 11pt;
    text-align: center;

}

.logo{
	position: relative;
	float:left;
	margin-left: 23%;
}

.main{
	text-align: center;
	background-color: #FFFFFF;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	position: relative;
	font-size: 16px;
    border-right: solid 1px #D8DBE2;
    border-left: solid 1px #D8DBE2;
    border-bottom: solid 1px #D8DBE2;
}

.horizontal_line{
    opacity: 0.7;
    color: #D8DBE2;
    background: #D8DBE2;
}

.header{
	margin-right: 20%;
}

.features{
	font-size: 1.3em;
	text-align: justify;
}

.feature{
	padding-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.install{
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 25px;
	font-weight: bold;
}

div#navigation{
    border-bottom: 1px solid #D8DBE2;
    margin-right: 25%;
    margin-left: 25%;
    width:50%;
    font-size: 1.2em;
}

div#navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

 div#navigation li{
    display: inline;
    margin: 0;
    padding:0;
}

div#navigation li a{
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 15px 15px 0px 0px;
    padding: 0px 0.3em;
    background: #eeeeee;color: #036;
    border-opacity:0.7;
    padding-top: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

div#navigation li a:hover{
    background-color: #f0f0f0;
}

div#navigation li#activelink a{
    border-bottom: 1px solid #fff;
    border-radius: 15px 15px 0px 0px;
    background-color: #fff;
    color: #603;
}

div#navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.quickstart{
    margin-right: 5%;
    margin-left: 5%;
    font-size: 17px;
}

.footer{
    font-family: "Oswald";
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #eee;
    border-right: solid 1px #D8DBE2;
    border-left: solid 1px #D8DBE2;
    border-bottom: solid 1px #D8DBE2;
}

.step{
    padding-bottom: 20px;
    text-align: justify;
}

.small_icon_fraud{
    width: 30px;
    height: 30px;
}

.icon_fraud{
    width: 1.3em;
    height: 1.3em;
}

.gist{
    margin-left:5%;
    margin-right:5%;
    padding-top:5%;
    padding-bottom:5%;
    font-size:1.1em;
}

.counter{
    font-size:1.3em;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border-radius: 15px 50px 30px;
    background: #cc3131;
    padding: 0.5em;
    cursor: pointer;
    color:black;
}

.stat{
    font-size:1.2em;
    display: inline;
    font-family: "Oswald";
    color:black;
}

@media only screen and (max-width: 1024px) {
    body, html {
        width: 860px;
        height: 860px;
    }

    .main {
        width: 700px;
        margin-left:80px;
        margin-right: 80px;
    }
    div#navigation{
        width: 700px;
        margin-left:80px;
        margin-right: 80px;
    }
    .footer{
        width: 700px;
        margin-left:80px;
        margin-right: 80px;
    }
}
